.about {
  height: 650px;
  padding-top: 13px;
  position: relative;

  .about-content {
    position: relative;
    color: $color-light;
    font-style: italic;
    font-size: 22px;
    width: 500px;
    margin: auto;
    filter: none;
  
    p.right {
      text-align: right;
    }
  }
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/about-us.jpg");
  background-size: cover;
  filter: brightness(30%);
}



@media only screen and (max-width: 768px) {
  .about {
    height: auto;
    padding-top: 10px;
  }

  .about-content p {
    width: 90%; 
    font-size: 11px; 
    flex-wrap: wrap;
  }

  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    filter: brightness(30%);
  }
}
  