nav {
  background-color: #000000;
  color: $color-light;
}

.header {
  height: 650px;
  background-size: cover;
}  

.main-nav {
  padding-top: 25px;
  width: 450px;
  
}

.main-nav a {
    color: $color-middle;
    text-decoration: none;
    font-family: $font-main;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 18px;
    padding-top:  150px;
}

.logo {
    letter-spacing: 5px;
    max-width: 250px;
}

.logo .down_logo{
    font-size: 10px;
    margin-top: 5px;
}

.header img{
  height: 800px;
  width: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.text-photo{
    color: $color-middle;
    line-height: 25px;
    position: absolute;
    top: 40%;
    flex-wrap: wrap;

  .left {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    padding-right: 250px;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
}
   .text-photo .right {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    padding-left: 600px;
}
  
  .text-photo ::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 60%;
    width: 180px;
    height: 4px;
    background: $color-middle;
  }

  .icon-text {
    color: $color-middle;
    position: absolute;
    top: 70%;
    left: 50%;
    bottom: -5px; 
  
    h2 {
        font-size: 29px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        position: absolute;
        transform: translateX(-50%); 
      
    }
  }
@media only screen and (min-width: 390px) and (max-width:767px){
  .text-photo {
    margin: 0 auto;
    width: 100%;
  }
  .header img{
    width: 100%;
  }
  .main-nav{
    display:flex;
    flex-direction: column;
  }
  .main-nav a{
    padding-left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .nav {
      padding: 10px;
  }
  .header {
      height: 600px;
  }
  .main-nav a {
      font-size: 18px;
      padding-top: 5px;
      margin: 5px;
  }
  .header img {
      width: 100%;
  }

  .text-photo .left,
  .text-photo .right {
      
      text-align: center; 
      padding: 0; 
  }
  .text-photo .left {
      font-size: 40px; 
      padding-bottom: 20px; 
  }
  .text-photo .right {
      font-size: 40px; 
      line-height: 1.5; 
  }
  .text-photo ::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .icon-text {
    display: none;
  }
  .logo {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .nav {
      padding: 15px;
  }
  .header {
      height: 400px;
      width: 100%;
  }
  .main-nav {
    padding-right: 170px;
  }
  .main-nav a {
      font-size: 19px;
      padding-top: 120px;
  }
  .header img {
      height: 500px; 
      width: 100%;
  }
  .text-photo {
      top: 15%; 
      left: 50%;
    transform: translateX(-50%);
  }
  .text-photo .left,
  .text-photo .right {
      display: block; 
      text-align: center; 
      padding: 0; 
  }
  .text-photo .left {
      font-size: 50px; 
      padding-bottom: 20px; 
  }
  .text-photo .right {
      font-size: 50px; 
      line-height: 1.5; 

  }
  .icon-text {
    display: none;
  }

  .text-photo ::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1390px) {
  .text-photo {
    top: 20%; 
    left: 30%;
}
.text-photo .left,
.text-photo .right {
    display: block; 
    text-align: center; 
    padding: 0; 
}
.text-photo .left {
    font-size: 40px; 
    padding-bottom: 20px; 
}
.text-photo .right {
    font-size: 40px; 
    padding-top: 20px; 
}
.text-photo ::after {
  left: 50%; 
  transform: translateX(-50%);
}
}
